<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 4. AutoCloseable | Closeable的写法 -->
    <bean id="autoCloseXMLLifeCycleCallback"
          class="cn.argentoaskia.callback.extendpoints.defaultdestroy.User3AutoCloseXMLLifeCycleCallback"/>
    <bean id="shutdownMethodLifeCycleCallback"
          class="cn.argentoaskia.callback.extendpoints.defaultdestroy.User3ShutdownMethodLifeCycleCallback"
    destroy-method="(inferred)"/>

</beans>