<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 可以使用CustomScopeConfigurer类来实现配置, 配置类 -->
    <!-- 声明式注册 -->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="thread">
                    <bean class="cn.argento.askia.custom.scope.SimpleThreadScope2"/>
                </entry>
            </map>
        </property>
    </bean>


    <bean id="now3" class="java.time.LocalDateTime" factory-method="now" scope="thread"/>
</beans>